.activity {
    display: flex;
    align-items: flex-start;
}

.activityleft {
    flex: none;
}

.activityright {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    min-width: 0;
}

.activity .main {
    display: flex;
    flex-wrap: wrap;
    /*align-items: top; /* Don't want stretch! */
    flex: 1;
}

.activity .avatar {
    width: 2.5em;
    border-radius: 0.4em;
    margin-right: var(--space_small);
}

.activity .main > :not(:last-child) {
    margin-right: 0.3em;
}

.activity time {
    margin-left: auto;
}

.activity .extra {
    font-style: italic;
    margin-top: 0.6em;
    margin-left: 0.1em;
}

.activitynav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--space_medium);
}