/*  -------------------
 *        ROOT        *
 *  ----------------- */

.category h1 {
    margin-top: 0; 
}

.categoryinfo {
    flex: auto;
}

/*  -------------------
 *     CATEGORIES     *
 *  ----------------- */

.threadicon {
    flex: none;
    display: flex;
    align-items: center;
}

.threadicon > * {
    width: 1.5em;
}

.thread h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}


/*  -------------------
 *        THREAD      *
 *  ----------------- */

.post {
    display: flex;
    align-items: flex-start;
}

.postleft {
    flex: none;
    margin-right: 0.75em;
}

.postright {
    flex: auto;
}

.post .avatar {
    width: 4em;
    border-radius: 0.5em;
}

.postheader {
    display: flex;
}

.postheader .username {
    font-size: 1.1em;
}

.sequence {
    margin-left: auto;
    filter: opacity(0.6);
    font-size: 0.8em;
    text-decoration: none;
}

.postfooter {
    display: flex;
    justify-content: flex-end;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.history > *:not(:last-child) {
    margin-bottom: 0.4em;
}

.content {
    margin: 0.5em 0.1em;
}

.content blockquote:first-child {
    margin-top: 0.65em; /* special */
}



/*  -------------------
 *       GENERAL      *
 *  ----------------- */

 .forumpath > * {
    margin-right: 0.15em;
 }

.foruminfo {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: auto;
}


/* ----------------------------------------------
   *       PAGE STYLING (HERE FOR NOW)
   -------------------------------------------- */

.programinfo {
   display: block;
   float: right;
   width: 25em;
   max-width: 100%;
   background: var(--color_divider);
   border-radius: 1em;
   margin-left: 1em;
   margin-bottom: 1em;
   padding: 1em;
   box-sizing: border-box;
}

.programinfo .gallery img {
    display: block;
    width: 100%;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.programinfo .extras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programinfo .extras > * {
    margin-top: 0.7em;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 55em) 
{
    .programinfo { 
        float: none; 
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 30em)
{
    .content { font-size: 0.9em; }
    .post .avatar { width: 3em; }
    .postleft { margin-right: 0.6em; }
    .postheader .username { font-size: 1em; }
    /*.threadicon { margin-right: 0.4em; }
    .threadicon img { width: 1em; }*/

}

