/*  -------------------
 *        ROOT        *
 *  ----------------- */

.category h1 {
    margin-top: 0; 
}

.categoryinfo {
    flex: auto;
}

/*  -------------------
 *     CATEGORIES     *
 *  ----------------- */

.threadicon {
    flex: none;
    display: flex;
    align-items: center;
}

.threadicon > img {
    width: 1.5em;
}

.thread h3 {
    margin-top: 0;
    margin-bottom: calc(1.2 * var(--space_small)); /*0.5em;*/
}


/*  -------------------
 *        THREAD      *
 *  ----------------- */

.post {
    display: flex;
    align-items: stretch; /*flex-start;*/
}

.post.current {
    border-left: calc(0.8 * var(--space_small)) solid var(--bg_activeselect);
    padding-left: calc(0.8 * var(--space_small)); /* calc(0.8 * var(--space_small)); /* To give space between the bar (border-left) and the avatar */
    margin-left: calc(-1.6 * var(--space_small)); /* A hack to make the border extend beyond the bounds of the post */
}

.postleft {
    flex: none;
    margin-right: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postleft .private {
    font-style: italic;
    margin-top: var(--space_small);
    font-size: 0.7em;
    color: var(--tc_link);
}

.postright {
    flex: auto;
    /* REQUIRED TO MAKE ALL TEXT TRUNCATION IN ANY CHILD AT ANY LEVEL WITHIN WORK */
    min-width: 0;
}

.post .avatar {
    width: 4em;
    border-radius: 0.5em;
    margin-bottom: var(--space_small);
}

.postheader {
    display: flex;
    align-items: center;
}

.postheader .username {
    font-size: 1.1em;
    margin-right: auto;
}

.postcontrols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: var(--space_medium);
}

.postcontrols a.flatlink:visited, .postcontrols a.flatlink:link, .postcontrols input.flatlink {
    color: var(--tc_aside);
}

.sequence {
    /*margin-left: auto;*/
    filter: opacity(0.6);
    font-size: 0.8em;
    text-decoration: none;
}

.postfooter {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: flex-end;*/
}

.replychain {
    border-left: calc(0.5 * var(--space_small)) solid var(--color_border);
    padding-left: calc(1.6 * var(--space_small));
}

.repliesview[open] {
    width: 100%;
    box-sizing: border-box;
}

.repliesview iframe {
    width: 100%;
    box-sizing: border-box;
    border: var(--line_width) solid var(--color_divider);
    border-radius: var(--space_small);
    margin: var(--space_small) 0;
    height: 50vh;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

.history > *:not(:last-child) {
    margin-bottom: 0.4em;
}

.content {
    margin: 0.5em 0.1em;
}

.content blockquote:first-child {
    margin-top: 0.65em; /* special */
}


/*  -------------------
 *     POST REPLY     *
 *  ----------------- */

 .reply {
    display: flex;
    align-items: center;
    /*max-width: 75vw; /* Just too tired to remember how to do this */
    margin-top: var(--space_small);
 }

 .reply .replylink {
    margin-right: 0.5em;
    flex: none;
    color: var(--tc_link);
 }

 .reply img {
    width: 1em;
    max-height: 1em;
    border-radius: 0.2em;
 }

 .reply > .username {
    display: block;
    margin-left: 0.2em;
    margin-right: 0.3em;
 }
 .reply > .username::after {
    content: ":";
 }

 .reply .content {
    margin: 0 !important;
 }


/*  -------------------
 *       GENERAL      *
 *  ----------------- */

 .forumpath > * {
    margin-right: 0.15em;
 }

.foruminfo {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: auto;
    flex-wrap: wrap;
    gap: var(--space_medium) 0;
}

.foruminfo .votes {
    width: 7em; /*10em;*/
    height: 1.3em; /*1.5em;*/
    padding: 0;
    border: none;
}

/*.bottomcontrols {
    margin-top: var(--space_big);
}*/


/* ----------------------------------------------
   *       PAGE STYLING (HERE FOR NOW)
   -------------------------------------------- */

.programinfo {
   display: block;
   float: right;
   width: 25em;
   max-width: 100%;
   background: var(--bg_altsection);
   border-radius: var(--space_medium);
   margin-left: var(--space_medium);
   margin-bottom: var(--space_medium);
   padding: var(--space_medium);
   box-sizing: border-box;
}

.programinfo .gallery img {
    display: block;
    width: 100%;
    border-radius: var(--space_small);
    box-sizing: border-box;
}

.programinfo .extras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programinfo .extras > * {
    margin-top: calc(0.7 * var(--space_medium)); /*0.7em;*/
    display: flex;
    align-items: center;
}

.categorylist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 55em) 
{
    .programinfo { 
        float: none; 
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 30em)
{
    .content { font-size: 0.9em; }
    .post .avatar { width: 3em; }
    .postleft { margin-right: 0.6em; }
    .postheader .username { font-size: 1em; }
    /*.threadicon { margin-right: 0.4em; }
    .threadicon img { width: 1em; }*/

}

