.editorinstructions {
    margin-bottom: 0.5em; /*var(--space_medium);*/
}

.editorinstructions > *:last-child {
    margin-bottom: var(--space_big);
}

#pageedit_text {
    height: 20em;
}

#ptc_file_list {
    min-height: 3em;
    border: 1px solid var(--color_divider);
    margin-bottom: var(--space_small);
}

