.editorinstructions {
    margin-bottom: 0.5em; /*var(--space_medium);*/
}

.editorinstructions > *:last-child {
    margin-bottom: var(--space_big);
}

.ptcfile {
    margin: var(--space_small);
    padding: var(--space_small);
    border-radius: var(--space_small);
    background-color: var(--bg_altsection);
}

.ptcfile .topline {
    display: flex;
    align-items: stretch;
}

.ptcname {
    font-size: 1.1em;
    margin: 0 !important;
}

.ptcdescription {
    height: 5em !important;
}

#pageedit_text {
    height: 20em;
}

#ptc_file_list {
    min-height: 3em;
    border: 1px solid var(--color_divider);
    margin-bottom: var(--space_small);
}

