.qrcodes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tracking {
    display: flex;
    justify-content: center;
}

@media print {
    header { display: none !important; } 
    section { border: none; margin: none; }
    body > .alert { display: none !important; }
}