
#searchline {
    display: flex;
    flex-wrap: none;
}

#searchtitle {
    margin-top: 0;
}

#searchinput {
    flex: 1;
    max-width: 20em;
}

#resultcount {
    margin-left: var(--space_medium);
    align-self: center;
}

.searchitem:nth-child(odd) {
    background: var(--bg_card);
}

.searchitem { 
    /*margin: calc(0.4 * var(--space_small));*/
    padding: calc(0.5 * var(--space_small));
    border-radius: calc(0.5 * var(--space_small));
    display: flex;
    align-items: center;
}

.searchname {
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchitem .searchicon img {
    width: 1.2em;
}

 @media screen and (max-width: 30em)
 {
    #resultcount {
        display: none;
    }
}