
#userhomeinfo {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0.5em 0.2em;
}
#userhomeinfo > #infoblock {
    margin-right: 1em;
}
#userlinks {
    display: block;
    margin-left: 0.2em;
    margin-top: 0.4em;
}
#userlinks > * {
    margin-right: 0.15em;
}
#userhomeinfo > img {
    margin-right: 1em;
    margin-bottom: 0.5em;
    width: 8.5em;
    border-radius: 0.9em;
}
/* This isn't ULTRA MINIMAL size (that's 30em), but enough to not have everything on one line */
@media screen and (max-width: 40em)
{
    #userhomeinfo {
        justify-content: center;
        padding: 0;
    }
}