:root {
    --upvote_color: #57de7b; 
    --downvote_color: pink;
    --novote_color: lightgray;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    border-radius: var(--space_small);
    background: none !important;
}

#main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
    /* background-color: red; /* temporary */
}

#downvote, #upvote {
    flex-grow: 1;
    margin: 0;
}

#downvote input, #upvote input {
    border: none;
    /*background-color: var(--bg_activeselect);
    color: var(--tc_activeselect);*/
    /*background-color: var(--color_divider);
    color: var(--tc_main);*/
    cursor: pointer;
    font-weight: bold;
    filter: brightness(0.7);
}

#downvote input { background-color: var(--downvote_color); }
#upvote input { background-color: var(--upvote_color); }

#votebar {
    flex-grow: 6;
    display: block;
    position: relative;
    background-color: var(--downvote_color);
}

#votebar[data-votes="0"] {
    background-color: var(--novote_color);
}

#voteline {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: var(--upvote_color);
}

#votecount {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    color: black;
}