:root {
    --bg_upvote: #57de7b; 
    --bg_downvote: pink;
    --bg_novote: #EEE;/*lightgray;*/
    --tc_votetext: black;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    border-radius: var(--space_small);
    background: none !important;
}

#main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

#downvote, #upvote {
    flex-grow: 1;
    margin: 0;
}

#downvote input, #upvote input {
    border: none;
    cursor: pointer;
    font-weight: bold;
    filter: brightness(0.9);
    color: var(--tc_votetext);
    background-color: var(--bg_novote);
}

#downvote input[data-current] { background-color: var(--bg_downvote); }
#upvote input[data-current] { background-color: var(--bg_upvote); }

#votebar {
    flex-grow: 6;
    display: block;
    position: relative;
    background-color: var(--bg_downvote);
}

#votebar[data-votes="0"] {
    background-color: var(--bg_novote);
}

#voteline {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: var(--bg_upvote);
}

#votecount {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    color: var(--tc_votetext);
}