
/* all the css variables to control common document constants */
:root {
    /* Main colors */
    --tc_main: #222;
    --tc_aside: gray;
    --bg_section: white;
    --color_border: lightgray;
    --color_divider: gainsboro;
    --tc_flatlink: teal;
    --tc_link: rgb(55, 91, 189);

    /* Header-only colors (but MAY be reused in other elements? */
    --bg_header: #444;
    --tc_header: #EEE;
    --bg_alert: beige;
    /*color: black;
    background: beige;*/

    /* Special text and bg */
    --bg_altsection: rgba(127,127,127,0.1);
    --bg_activeselect: teal;
    --tc_activeselect: white;
    --tc_error: darkred;
    --bg_error: rgba(255,0,0,0.05);
    --tc_success: green;
    --bg_card: #f8f8f9;

    /* Extra junk (generally not themed?) */
    --font: sans-serif;
    --simple_hover: brightness(1.2);
    --line_width: 1.5px;

    /* Syntax highlighting in code sections! You don't have to change these if you don't 
       want, they're not used anywhere */
    --code_keyword: #07bac6;
    --code_number: #f442ad;
    --code_comment: #39c655;
    --code_string: #967de0;
    --code_label: #fff496;
    --code_function: #63b3ff;
    --code_fg: #DDD;
    --code_bg: #222;

    /* Spacing which is impacted by compact settings! You don't need EVERYTHING to be
        based off these numbers! */
    --space_big: 1.5em;
    --space_medium: 1.0em;
    --space_small: 0.5em;
    --reg_lineheight: 1.4;
}

[data-compact] {
    --space_big: 0.75em;
    --space_medium: 0.5em;
    --space_small: 0.25em;
    --reg_lineheight: 1.2;
}


/* ----------------------------- *
 *     ROOT LEVEL STUFF          *
 * ----------------------------- */

body {
    color: var(--tc_main);
    font-family: var(--font);
    border: none;
    padding: 0;
    margin: 0;
}

h1 {
    /* Use a SMALL margin here because it's em and h1 is BIG */
    margin: var(--space_small) 0; /* reduce the margins on h1 a bit */
}

h2 {
    margin: var(--space_small) 0;
}

h3 {
    margin: var(--space_medium) 0;
}

p { /* Not sure about this one? */
    line-height: var(--reg_lineheight);
    margin: var(--space_medium) 0;
}

/* Also, dividers are like decorators, want them generic too */
hr {
    border: none;
    border-top: var(--line_width) solid var(--color_divider);
    margin: var(--space_big) 0;
}

hr.smaller {
    /* Split so left/right are left alone; use what was set before */
    margin-top: var(--space_medium); 
    margin-bottom: var(--space_medium);
}

form {
    margin: var(--space_small);
}


/* ----------------------------- *
 *     BASIC / GENERIC STUFF     *
 * ----------------------------- */

.error {
    color: var(--tc_error) !important;
}

.errorlist .error {
    margin-bottom: var(--space_small);
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: var(--bg_error);
}

.success {
    color: var(--tc_success);
}

.plainlink {
    text-decoration: none;
    cursor: pointer;
}

.controlbar {
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.25em;
    width: 100%;
}

.smallseparate > :not(:last-child) {
    margin-right: 0.5em; /*var(--space_small);*/
}

.mediumseparate > :not(:last-child) {
    /* Consider just making this medium */
    margin-right: 0.8em; /*calc(0.8 * var(--space_medium));*/
}

.aside {
    font-size: 0.8em;
    color: var(--tc_aside);
}

.faint {
    opacity: 0.4;
}

.faint:hover, .faint:focus {
    opacity: unset;
}

.largeinput {
    width: 30em;
    max-width: 100%;
    box-sizing: border-box;
}

.smallinput {
    width: 2.5em;
}

.spoilertext {
    background: var(--bg_header);
    color: var(--bg_header);
    border-radius: 0.2em;
}

.imagebrowser {
    width: 100%;
    height: 40em;
    max-height: 80vh;
    box-sizing: border-box;
    border: none;
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.nospacing {
    margin: 0;
    padding: 0;
    display: contents;
}

a.coolbutton, input.coolbutton {
    padding: 0.2em;
    background: var(--bg_activeselect);
    border-radius: 0.3em;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 1em;
}

/* UGH LINKS */
a.coolbutton:link, a.coolbutton:visited, input.coolbutton { 
    color: var(--tc_activeselect); 
}

/* These properties themselves are fine, but consider what should get them. */
.hover { transition: filter 0.2s ease, background-color 0.2s ease; }
.hover:hover { filter: var(--simple_hover); }

/* Not so sure about this... */
a:link, a:visited {  
    color: var(--tc_link);
}

a.flatlink:link, a.flatlink:visited, input.flatlink {
    text-decoration: none;
    color: var(--tc_flatlink);
}

input.flatlink {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: inline;
}

label.inline {
    display: flex;
    align-items: center;
    max-width: 100%;
}

label.inline > input, label.inline > select {
    /* Give space between input and label... assuming that's how it's set up */
    margin: 0 0.75em;
}

/* Make checkboxes consistent on all pages */
input[type="checkbox"] {
    width: 1.1em;
    height: 1.1em;
    box-sizing: border-box;
}

input[type="file"] {
    border: 1px solid var(--color_border);
}

input[readonly], textarea[readonly] {
    filter: opacity(0.5) brightness(0.9);
}


/*  ---------------------------------------
    Generalized navigation (pagination/etc) 
    ---------------------------------------  */

.pagelist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: var(--space_big);
    gap: var(--space_small) 0;
}

.pagelist .current {
    font-weight: bold;
}

.browsepagenav {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}


/*  -------------------------------
    CONTENT STUFF (MARKUP? BBCODE?)
    -------------------------------  */

/* Some important stuff, like content rendering */
.content {
    line-height: var(--reg_lineheight);
    white-space: pre-wrap;
    word-wrap: break-word;
}

.content img {
    max-width: 100%;
    max-height: 50vh;
    margin: 0.7em 0;
    display: block;
}

.content ul, .content ol {
    padding-left: 1.2em;
    margin: 0;
}

.content blockquote {
    background: var(--bg_altsection);
    padding: 1em 1.2em;
    padding-left: 1.2em;
    margin: 0.5em 0em;
    border-radius: 0.7em;
    box-sizing: border-box;
}

.content blockquote[cite]::before {
    content: attr(cite) ":\A";
    font-style: italic;
    display: block;
    margin-bottom: 0.5em;
    margin-left: -0.2em;
}

.content .spoiler {
    padding: 0.3em 0.4em;
    margin: 0.3em 0;
    border-left: 5px solid var(--bg_activeselect);
    /*border-radius: 0.3em;*/
    /*border: var(--line_width) solid var(--color_divider);*/
    /*width: fit-content; /* To fix floating infobox overlap */
}

/*.content .spoiler summary {
    padding: 0.3em 0.4em;
    border-radius: 0.3em;
    border: var(--line_width) solid var(--color_divider);
    width: fit-content;
}*/

.content .icode {
    font-family: monospace;
    color: var(--tc_error);
    font-weight: bold;
}

.content .code {
    background: var(--bg_header);
    color: var(--tc_header);
    padding: 0.6em 0.8em;
    border-radius: 0.4em;
    box-sizing: border-box;
    overflow-x: auto;
}

/* Syntax highlighting for code! */
.content .code .keyword { color: var(--code_keyword); }
.content .code .number { color: var(--code_number); }
.content .code .comment { color: var(--code_comment); }
.content .code .string { color: var(--code_string); }
.content .code .label { color: var(--code_label); }
.content .code .function { color: var(--code_function); } 
.content .code { color: var(--code_fg); background-color: var(--code_bg); }

.postpreview {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Hide some big elements */
.postpreview pre, .postpreview blockquote, .postpreview .spoiler, .postpreview img,
.postpreview ul, .postpreview ol {
    display: none;
}

/* ------------------------
   *     PAGE CARDS       *
   ---------------------- */

.cardslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: calc(-0.8 * var(--space_medium));
}

/* Pages MAY be special in the future! */
.pagecard {
    padding: calc(0.9 * var(--space_medium));
    /*border: var(--line_width) solid var(--color_divider);*/
    border: 0.15em solid var(--color_border);
    background: var(--bg_card);
    border-radius: calc(0.65 * var(--space_medium));
    flex-basis: 21em; /*22em; /* 30em; */
    flex-grow: 1;
    max-width: 38em;
    margin-right: calc(0.8 * var(--space_medium));
    margin-bottom: calc(0.8 * var(--space_medium));
    display: flex;
    flex-direction: column;
}

.sysicon {
    filter: opacity(0.9);
}

.cardmain {
    display: flex;
    margin-bottom: 0.5em;
}

.cardtext {
    margin-right: 0.8em;
    line-height: var(--reg_lineheight);
}

.cardtext .description {
    filter: opacity(0.85);
    margin-left: 0.05em;
    font-size: 0.9em;
}

.cardtext h3 {
    margin: 0;
    margin-bottom: 0.25em;
    font-size: 1.1em;
}

.cardimage {
    width: 10em;
    height: 6em;
    margin-left: auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.5em;
}

.cardimage img {
    border-radius: 0.5em;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cardbottom {
    display: flex;
    align-items: center;
    margin-top: auto;;
}

.cardbottom .user {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardbottom .key {
    font-weight: bold;
    margin-left: auto;
}

.cardbottom .systems {
    flex: none;
}

.cardbottom .systems > * {
    margin-left: 0.25em;
}

 @media screen and (max-width: 35em)
 {
    .cardimage {
        width: 7em;
        height: 4.2em;
    }
    .cardtext {
        font-size: 0.8em;
    }
    .cardbottom {
        font-size: 0.9em;
    }
    .cardbottom time {
        display: none;
    }
 }