/*  -------------------
 *        ROOT        *
 *  ----------------- */

.category h1 {
    margin-top: 0; 
}

.categoryinfo {
    flex: auto;
}

/*  -------------------
 *     CATEGORIES     *
 *  ----------------- */

.threadicon {
    flex: none;
    display: flex;
    align-items: center;
    /*margin-right: 0.7em;*/
}

.threadicon > * {
    /*width: 1.7em;*/
    width: 1.5em;
}

.thread h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}


/*  -------------------
 *        THREAD      *
 *  ----------------- */

.post {
    display: flex;
    align-items: flex-start;
}

.postleft {
    flex: none;
    margin-right: 0.75em;
}

.postright {
    flex: auto;
}

.post .avatar {
    width: 4em;
    border-radius: 0.5em;
}

.postheader {
    display: flex;
}

.sequence {
    margin-left: auto;
    filter: opacity(0.6);
    font-size: 0.8em;
    text-decoration: none;
}

.postfooter {
    display: flex;
    justify-content: flex-end;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.history > *:not(:last-child) {
    margin-bottom: 0.4em;
}

.content {
    margin: 0.5em 0.1em;
    line-height: 1.4;
}


/*  -------------------
 *       GENERAL      *
 *  ----------------- */

.foruminfo {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: auto;
}

#pagelist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

#pagelist .current {
    font-weight: bold;
}


@media screen and (max-width: 30em)
{
    .content { font-size: 0.9em; }
    .post .avatar { width: 3em; }
    .postleft { margin-right: 0.6em; }
    /*.threadicon { margin-right: 0.4em; }
    .threadicon img { width: 1em; }*/
}