/* The main layout file. This EXPECTS base.css! */

/* ----------------------------- *
 *     BODY / LAYOUT STUFF       *
 * ----------------------------- */

/* The body needs to get out of the way */
body {
    font-family: var(--font);
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    min-height: 100vh; /* this doesn't work on mobile */
    display: flex;
    flex-direction: column;
}

header {
    background: var(--bg_header);
    color: var(--tc_header);
    flex-wrap: wrap;
}

footer {
    background: var(--bg_header);
    color: var(--tc_header);
    margin-top: auto;
    font-size: 0.85em;
}

/* Links are ugh */
header a, header a:visited { color: var(--tc_header); }
footer a, footera:visited { color: var(--tc_header); }

nav {
    display: flex;
    align-items: center;
    flex: none;
}

main {
    padding: 1em;
}

section {
    border: 0.2em solid var(--color_border);
    padding: 1.5em;
    background: var(--bg_section);
    max-width: 70em;
    margin: 0.5em auto;
    border-radius: 1em;
}

h1 {
    margin: 0.5em 0; /* reduce the margins on h1 a bit */
}

/* Inside a section, let the parent determine the distance to the top and bottom edges */
section > *:first-child { margin-top: 0; }
section > *:last-child { margin-bottom: 0; }

table td {
    padding-right: 0.5em;
}


/* ----------------------------- *
 *     SPECIFIC HEADER STUFF     *
 * ----------------------------- */

header img {
    width: 1.6em;
    display: block;
    border-radius: 0.4em;
}

.headertab {
    border-radius: 0.2em;
    padding: 0.2em 0.4em;
}

.headertab.current{
    font-weight: bold;
    background-color: var(--bg_activeselect);
    color: var(--tc_activeselect);
}

nav .headertab.current {
    margin: 0 0.2em;
}

#header-user, #footer-about {
    margin-left: auto;
}

#header-user a {
    display: flex;
    align-items: center;
}

#header-user a > * {
    margin-left: 0.5em;
}

#homelink img {
    width: 1.8em;
    padding: 0.1em 0;
    padding-right: 0.2em;
}

/* ----------------------------- *
 *     SPECIFIC FORM   STUFF     *
 * ----------------------------- */

label {
    display: block;
    margin-bottom: 0.2em;
}

label.inline {
    margin-bottom: 0.5em;
}

form input, form textbox {
    display: block;
    margin-bottom: 0.5em;
}


/* ----------------------------- *
 *     MEDIA SPECIALNESS         *
 * ----------------------------- */

 @media screen and (max-width: 30em)
 {
    header {
        /* This should shrink the header entirely */
        font-size: 0.8em;
    }

    main { 
        padding: 0;
    }

    /* Remove decorations, turn into simple page */
    section {
        padding: 1em;
        margin: 0;
        border-right: none;
        border-left: none;
        border-top: none;
        border-radius: 0;
    }
 }