/* The main layout file */

/* all the css variables to control common document constants */
:root {
    --bg_header: #444;
    --tc_header: #EEE;
    --bg_section: white;
    --color_border: lightgray;
    --bg_activeselect: teal;
    --tc_activeselect: white;
    --tc_aside: gray;
    --tc_error: darkred;
    --bg_error: rgba(255,0,0,0.05);
    --tc_success: green;
}

/* ----------------------------- *
 *     BODY / LAYOUT STUFF       *
 * ----------------------------- */

/* The body needs to get out of the way */
body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    min-height: 100vh; /* this doesn't work on mobile */
    display: flex;
    flex-direction: column;
}

header {
    background: var(--bg_header);
    color: var(--tc_header);
    flex-wrap: wrap;
}

footer {
    background: var(--bg_header);
    color: var(--tc_header);
    margin-top: auto;
    font-size: 0.85em;
}

/* Links are ugh */
header a, header a:visited { color: var(--tc_header); }
footer a, footera:visited { color: var(--tc_header); }

nav {
    display: flex;
    align-items: center;
    flex: none;
}

main {
    padding: 1em;
}

section {
    border: 0.2em solid var(--color_border);
    padding: 1.5em;
    background: var(--bg_section);
    max-width: 80em;
    margin: 0.5em auto;
    border-radius: 1em;
}

h1 {
    margin: 0;
    margin-bottom: 0.5em;
}

table td {
    padding-right: 0.5em;
    /*padding: 0.1em 0.2em;*/
}

/* ----------------------------- *
 *     BASIC / GENERIC STUFF     *
 * ----------------------------- */

.error {
    color: var(--tc_error);
}

.success {
    color: var(--tc_success);
}

.plainlink {
    text-decoration: none;
    cursor: pointer;
}

.controlbar {
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.25em;
    width: 100%;
}

.smallseparate > * {
    margin-right: 0.5em;
}

.aside {
    font-size: 0.8em;
    color: var(--tc_aside);
}

.largeinput {
    width: 30em;
    max-width: 100%;
    box-sizing: border-box;
}

/* ----------------------------- *
 *     SPECIFIC HEADER STUFF     *
 * ----------------------------- */

header img {
    width: 1.6em;
    display: block;
    border-radius: 0.4em;
}

.headertab {
    border-radius: 0.2em;
    padding: 0.2em 0.4em;
}

.headertab.current{
    font-weight: bold;
    background-color: var(--bg_activeselect);
    color: var(--tc_activeselect);
}

nav .headertab.current {
    margin: 0 0.2em;
}

#header-user, #footer-about {
    margin-left: auto;
}

#header-user a {
    display: flex;
    align-items: center;
}

#header-user a > * {
    margin-left: 0.5em;
}

#homelink img {
    width: 1.8em;
    padding: 0.1em 0;
    padding-right: 0.2em;
}

/* ----------------------------- *
 *     SPECIFIC FORM   STUFF     *
 * ----------------------------- */

label {
    display: block;
    margin-bottom: 0.2em;
}

label.inline {
    display: flex;
    align-items: center;
}

form input, form textbox {
    display: block;
    margin-bottom: 0.5em;
}

input[type="checkbox"] {
    margin: 0 0.75em;
    width: 1.1em;
    height: 1.1em;
    box-sizing: border-box;
}

.errorlist .error {
    margin-bottom: 0.5em;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: var(--bg_error);
}


/* ----------------------------- *
 *     MEDIA SPECIALNESS         *
 * ----------------------------- */

 @media screen and (max-width: 30em)
 {
    header {
        /* This should shrink the header entirely */
        font-size: 0.8em;
    }

    main {
        padding: 0.8em;
    }
 }