/* The main layout file */

/* all the css variables to control common document constants */
:root {
    --bg_header: #444;
    --tc_header: #EEE;
}

/* ----------------------------- *
 *     BODY / LAYOUT STUFF       *
 * ----------------------------- */

/* The body needs to get out of the way */
body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
}

header {
    background: var(--bg_header);
    width: 100%;
    overflow: hidden;
    display: flex;
    /*justify-content: space-between; /* not sure about this one */
    align-items: center;
    color: var(--tc_header);
    box-sizing: border-box;
    padding: 0.25em;
    flex-wrap: wrap;
}

/* Links are ugh */
header a, header a:visited { color: var(--tc_header); }

nav {
    display: flex;
    align-items: center;
    flex: none;
}

/* ----------------------------- *
 *     SPECIFIC LAYOUT STUFF     *
 * ----------------------------- */

header img {
    width: 2em;
    display: block;
    border-radius: 0.4em;
}

nav > * {
    margin-right: 0.5em;
}

#header-user {
    margin-left: auto;
}


/* ----------------------------- *
 *     BASIC / GENERIC STUFF     *
 * ----------------------------- */

.error {
    color: darkred;
}

.plainlink {
    text-decoration: none;
    cursor: pointer;
}