
[data-theme="sbs-dark"] {
    /* Main colors */
    --tc_main: #CCC;
    --tc_aside: #AAA;
    --bg_section: #333;
    --color_border: #292929;
    --color_divider: #555;
    --tc_flatlink: rgb(32, 217, 217); /*#79c8b7; /*rgb(81, 228, 228);*/
    --tc_link: #8bc3ff; /*rgb(106, 170, 255);*/

    /* Header-only colors (but MAY be reused in other elements? */
    --bg_header: #222;
    --tc_header: #BBB;
    --bg_alert: #4e1d48;
    /*--bg_alert: darkslateblue;*/

    /* Special text and bg */
    --bg_altsection: rgba(127,127,127,0.1);
    --bg_activeselect: teal;
    --tc_activeselect: white;
    --tc_error: rgb(225, 117, 117);
    --bg_error: rgba(255,0,0,0.05);
    --tc_success: rgb(178, 254, 178);
    --bg_card: #3a3a3a;
}

body[data-theme="sbs-dark"] {
    background-color: #444;
    background-blend-mode: multiply;
}

[data-theme="sbs-dark"] input:not(.notheme), [data-theme="sbs-dark"] select, [data-theme="sbs-dark"] textarea {
   filter: invert(0.8);
}

[data-theme="sbs-dark"] .sysicon { 
    filter: invert(0.6);
}




[data-theme="sbs-blue"] {
    /* Main colors */
    --tc_main: #142a57; /*#002b85; /*rgb(32 76 168); /*rgb(19, 36, 71);*/
    --tc_aside: #2a6b99; /*#3ba0e1; /*#68b5e7; /*rgb(84, 104, 168);*/
    --bg_section: rgb(250, 253, 255);
    --color_border: #c5d9e7; /*#c2d5e7; /*rgb(182, 213, 255);*/
    --color_divider: #cfdbe7; /*rgb(199, 228, 255);*/
    --tc_flatlink: #1b8abc; /*#71549b; /*#0c9db9; /*#0274bb;/*#4293ce; /*#1b8abc;*/
    --tc_link: #193c9c; /*rgb(41, 86, 209);*/

    /* Header-only colors (but MAY be reused in other elements? */
    --bg_header: #2a4167; /*rgb(51, 85, 139);*/
    --tc_header: #edfaff; /*rgb(225, 247, 255);*/
    --bg_alert: linen;

    /* Special text and bg */
    --bg_altsection: rgba(100,180,255,0.1);
    --bg_activeselect: #1b8abc;
    --tc_activeselect: white;
    --tc_error: rgb(139, 0, 134);
    --bg_error: rgba(255, 0, 255, 0.05);
    --tc_success: rgb(0, 115, 128);
    --bg_card: #f6fbff; /*aliceblue;*/
}

body[data-theme="sbs-blue"] {
    background-color: #f6fbff; /*#8b8f91; /*rgb(240 247 255); /*rgb(230 244 255); /*rgb(21, 154, 255);*/
    background-blend-mode: luminosity;
}

[data-theme="sbs-blue"] input:not(.notheme), 
[data-theme="sbs-blue"] select, 
[data-theme="sbs-blue"] textarea {
   filter: sepia(0.1) hue-rotate(170deg);
}

[data-theme="sbs-blue"] .threadicon > * {
    filter: hue-rotate(145deg); /*hue-rotate(125deg);*/
}

[data-theme="sbs-blue"] .sysicon {
    filter: contrast(0.5) sepia(1) saturate(6) hue-rotate(177deg);
}




[data-theme="sbs-contrast"] {
    /* Main colors */
    --tc_main: #000;
    --tc_aside: #444;
    --bg_section: white;
    --color_border: #555;
    --color_divider: #444;
    --tc_flatlink: #cb0000;
    --tc_link: #002eac;

    /* Header-only colors (but MAY be reused in other elements? */
    --bg_header: #222;
    --tc_header: #FFF;
    --bg_alert: cyan;

    /* Special text and bg */
    --bg_altsection: rgba(127,127,127,0.2);
    --bg_activeselect:#ffc100;
    --tc_activeselect: #000;
    --tc_error: darkred;
    --bg_error: rgba(255,0,0,0.05);
    --tc_success: green;
    --bg_card: #fff;

    --line_width: 2.5px;
}

[data-theme="sbs-dark-contrast"] {
    /* Main colors */
    --tc_main: #FFF;
    --tc_aside: #CCC;
    --bg_section: #000;
    --color_border: #AAA;
    --color_divider: #999;
    --tc_flatlink: #00ffee;
    --tc_link: #ffe852;

    /* Header-only colors (but MAY be reused in other elements? */
    --bg_header: #000;
    --tc_header: #FFF;
    --bg_alert: darkblue;

    /* Special text and bg */
    --bg_altsection: rgba(127,127,127,0.4);
    --bg_activeselect: #ea3dff;
    --tc_activeselect: #000;
    --tc_error: rgb(255, 70, 70);
    --bg_error: rgba(255,0,0,0.05);
    --tc_success: lime;
    --bg_card: #000;

    --line_width: 2.5px;
}

body[data-theme="sbs-dark-contrast"] {
    background-color: #222;
    background-blend-mode: multiply;
}

[data-theme="sbs-dark-contrast"] header { 
    border-bottom: var(--line_width) solid var(--color_border);
}
[data-theme="sbs-dark-contrast"] footer { 
    border-top: var(--line_width) solid var(--color_border);
}

[data-theme="sbs-dark-contrast"] input:not(.notheme), [data-theme="sbs-dark-contrast"] select, 
[data-theme="sbs-dark-contrast"] textarea {
   filter: invert(0.95);
}

[data-theme="sbs-dark-contrast"] .sysicon { 
    filter: invert(0.8);
}







/*[data-shadows] section, [data-shadows] .pagecard, [data-shadows] .coolbutton {
    box-shadow: 0.1rem 0.2rem 0.3rem -0.2rem var(--tc_aside);
}*/