
[data-theme="sbs-dark"] {
    /* Main colors */
    --tc_main: #CCC;
    --tc_aside: #AAA;
    --bg_section: #333;
    --color_border: #292929;
    --color_divider: #555;
    --tc_flatlink: rgb(32, 217, 217); /*#79c8b7; /*rgb(81, 228, 228);*/
    --tc_link: #8bc3ff; /*rgb(106, 170, 255);*/

    /* Header-only colors (but MAY be reused in other elements? */
    --bg_header: #222;
    --tc_header: #BBB;

    /* Special text and bg */
    --bg_altsection: rgba(127,127,127,0.1);
    --bg_activeselect: teal;
    --tc_activeselect: white;
    --tc_error: rgb(225, 117, 117);
    --bg_error: rgba(255,0,0,0.05);
    --tc_success: rgb(178, 254, 178);
}

body[data-theme="sbs-dark"] {
    background-color: #444;
    background-blend-mode: multiply;
}

[data-theme="sbs-dark"] input:not(.notheme), [data-theme="sbs-dark"] select, [data-theme="sbs-dark"] textarea {
   filter: invert(0.8);
}

[data-theme="sbs-dark"] .sysicon { 
    filter: invert(0.6);
}



[data-theme="sbs-blue"] {
    /* Main colors */
    --tc_main: rgb(32 76 168); /*rgb(19, 36, 71);*/
    --tc_aside: #68b5e7; /*rgb(84, 104, 168);*/
    --bg_section: rgb(250, 253, 255);
    --color_border: #c2d5e7; /*rgb(182, 213, 255);*/
    --color_divider: #cfdbe7; /*rgb(199, 228, 255);*/
    --tc_flatlink: #0274bb;/*#4293ce; /*#1b8abc;*/
    --tc_link: rgb(41, 86, 209);

    /* Header-only colors (but MAY be reused in other elements? */
    --bg_header: rgb(51, 85, 139);
    --tc_header: #edfaff; /*rgb(225, 247, 255);*/

    /* Special text and bg */
    --bg_altsection: rgba(100,180,255,0.1);
    --bg_activeselect: #1b8abc;
    --tc_activeselect: white;
    --tc_error: rgb(139, 0, 134);
    --bg_error: rgba(255, 0, 255, 0.05);
    --tc_success: rgb(0, 115, 128);
}

body[data-theme="sbs-blue"] {
    background-color: rgb(240 247 255); /*rgb(230 244 255); /*rgb(21, 154, 255);*/
    background-blend-mode: luminosity;
}