{{#*inline "page"}}
<section>
    <h1>Login</h1>
    <form {{selfpost}}> 
        {{> partials/errorlist }}
        <label for="login_username">Username:</label>
        <input id="login_username" type="text" required="" name="username">
        <label for="login_password">Password:</label>
        <input id="login_password" type="password" required="" name="password">
        <label class="inline" for="login_extended"><span>Very long session:</span><input id="login_extended" type="checkbox" name="long_session"></label>
        <input type="submit" value="Login">
    </form>
    <hr>
    <h2>Password expired / forgotten?</h2>
    <form {{selfpost "recover"}}> 
        {{> partials/errorlist errors=recovererrors}}
        {{#if recoversuccess}}
        <p class="success">Email sent!</p>
        {{/if}}
        <label for="recover_email">Email:</label>
        <input id="recover_email" type="text" name="email" required="" value="{{emailresult}}">
        <p class="aside">Sends an email with a temporary password to login with, use above</p>
        <input type="submit" value="Send recovery email">
    </form>
    <hr>
    <h2>New to SmileBASIC Source?</h2>
    <p><a href="{{http_root}}/register">Click here</a> to register</p>
</section>
{{/inline}}
{{>layout}}